version: "3.8"
services:

  db:
    image: postgres:15-alpine
    container_name: rest-service-postgres
    restart: always
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${POSTGRES_DATA}:/var/lib/postgresql/data
    networks:
      - back-tier
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # app:
  #   image: node:18-alpine
  #   container_name: rest-service-nestjs
  #   restart: always
  #   user: node
  #   working_dir: /usr/src/app
  #   environment:
  #     - NODE_ENV=development
  #   volumes:
  #     - ${APP_DATA}:/usr/src/app
  #   ports:
  #     - ${PORT}:${PORT}
  #   networks:
  #     - back-tier
  #   command: "npm start"

  app:
    build:
      context: .
    # image: rest-service-app:${TAG}
    container_name: rest-service-nestjs
    depends_on:
      db:
        condition: service_healthy
    restart: always
    # user: node
    environment:
      # NODE_ENV=development
      PORT: ${PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      PGUSER: ${PGUSER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ${APP_DATA}:/app
    ports:
      - ${PORT}:${PORT}
    networks:
      - back-tier
    # command: "npm run start:prod"
    command: "npm start"

  # pgadmin:
  #   container_name: pgadmin4_container
  #   container_name: rest-service-pgadmin4

  #   image: dpage/pgadmin4:latest
  #   restart: always
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
  #     PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  #   ports:
  #     - ${PGADMIN_PORT}:80
    # volumes:
    #   - ${PGADMIN_DATA}:/var/lib/pgadmin
    # networks:
    #   - back-tier

volumes:
  pgdata:
  # pgadmin-data:

networks:
  back-tier: