# Use postgres/example user/password credentials
version: "3.8"
services:

  db:
    image: postgres:15-alpine
    container_name: rest-service-postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: data
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - back-tier

  app:
    image: node:18-alpine
    container_name: rest-service-nestjs
    restart: always
    user: node
    working_dir: /usr/src/app
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/usr/src/app
    ports:
      - 8080:4000
    networks:
      - back-tier
    # expose:
    #   - "8080"
    command: "npm start"

  pgadmin:
    container_name: pgadmin4_container
    container_name: rest-service-pgadmin4

    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - 8000:80

    # volumes:
    #   - ./pgadmin-data:/var/lib/pgadmin
    # networks:
    #   - back-tier

volumes:
  pgdata:
  # pgadmin-data:

networks:
  back-tier: